@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family:'Poppins',sans-serif;
}

.app{
  min-width:  400px;
  max-width: 600px;
  min-height: 500px;
  border-radius: 20px;
  background: #ffffff;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  padding-bottom: 30px;
  margin-bottom: 100px;
}
.app h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.input-wrapper{
    display: flex;
  
}
.input-wrapper input{
    width: 100%;
    padding: 5px 10px;
    height: 30px;
    font-size: 14px;
    border-radius: 50px;
    border-color: #26d432;
    outline-color: #26d432;
}

.input-wrapper button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(134, 242, 229);
    color: #000000;

  
    border-radius: 50px;
    border-color: #26d432;
    cursor: pointer;
    width: 80px;
}
.content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(262deg,rgba(250, 159, 56, 0.647),rgba(113, 217, 255, 0.63)) ;
    margin-top: 10px;
    border-radius: 10px;
    outline: 2px solid  #26d432;
    
}

.location{margin-top: 20px;}
.location h2{
    margin: 0;
    margin-left: 10px;
    font-weight: bold;
    font-size:x-large;
}
.location h2 span{
    font-size: 14px;

}
.datetext{
    font-size: 14px;
    font-weight: bold;
}
.weatherdesc h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-transform: capitalize;
   
    font-weight: 400;
  
}
.tempstats{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}
.tempstats h1{
    font-size: 64px;
    font-weight: 200;
    margin: 0;
}
.tempstats h1 span{
    font-size: 38px;
}
.tempstats h3{
    font-weight: 400;

}
.windstats{
    padding: 0px 20px;
    background:rgba(239, 91, 96, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
     outline: 2px solid  #26d432;
}
.windstats h3{
    margin-left: 10px;
    font-weight: 400;
}